<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/admin-account">
<head>
<meta charset="UTF-8">
</head>
<body>

<div layout:fragment="tools-history">
<span id="add-options">
<select id="search-selection">
<option th:if="${option == 'all'}" value="all" selected="selected">Minden</option>
<option th:unless="${option == 'all'}" value="all">Minden</option>
<option th:if="${option == 'instruments'}" value="instruments" selected="selected">Csak műszerek</option>
<option th:unless="${option == 'instruments'}" value="instruments">Csak műszerek</option>
<option th:if="${option == 'additionals'}" value="additionals" selected="selected">Csak kiegészítők</option>
<option th:unless="${option == 'additionals'}" value="additionals">Csak kiegészítők</option>
</select>&nbsp;&nbsp;&nbsp;

<a>Elvitel ideje:</a>&nbsp;<input type="date" id="pickupdate" th:value="${date}" th:onchange="'sendPickUpDateInToolsHistory()'">&nbsp;&nbsp;&nbsp;
<a>Leadás ideje:</a>&nbsp;<input type="date" id="putdowndate" th:value="${date}" th:onchange="'sendPutDownDateInToolsHistory()'">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input id="search-field" th:onkeyup="'searchInToolHistory()'" type="text" th:placeholder="#{search}">
</span>
<br>
<h1 th:text="#{tools.history}"></h1>

<div id="empty" th:if="${#lists.isEmpty(tools)}" th:text="#{empty.tools.history}"></div>

<table th:if="${not #lists.isEmpty(tools)}">
	<tr>
	<th th:text="#{number}"></th>
	<th th:text="#{instrument.name}"></th>
	<th th:text="#{tool.user}"></th>
	<th th:text="#{tool.pickup.place}"></th>
	<th th:text="#{tool.pickup.date}"></th>
	<th th:text="#{tool.put.down.place}"></th>
	<th th:text="#{tool.put.down.date}"></th>
	<th th:text="#{tool.comment}"></th>
	</tr>
	
	<tr th:each="tool : ${tools}">
	<td th:utext="${toolStat.count}" th:classappend="${toolStat.odd} ? '' : 'colored'"></td>
	<td th:utext="${tool.toolname}" th:classappend="${toolStat.odd} ? '' : 'colored'" style="text-align: left"></td>
	<td th:utext="${tool.workername}" th:classappend="${toolStat.odd} ? '' : 'colored'" style="text-align: left"></td>
	<td th:utext="${tool.pickUpPlace}" th:classappend="${toolStat.odd} ? '' : 'colored'"></td>
	<td th:utext="${#temporals.format(tool.pickUpDate, 'yyyy-MM-dd HH:mm')}" th:classappend="${toolStat.odd} ? '' : 'colored'"></td>
	<td th:utext="${tool.putDownPlace}" th:classappend="${toolStat.odd} ? '' : 'colored'"></td>
	<td th:utext="${#temporals.format(tool.putDownDate, 'yyyy-MM-dd HH:mm')}" th:classappend="${toolStat.odd} ? '' : 'colored'"></td>
	<td th:utext="${tool.comment}" th:classappend="${toolStat.odd} ? '' : 'colored'"></td>
	</tr>
</table>


</div>

</body>
</html>