<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="#{title}"></title>
<link rel="stylesheet" th:href="@{/css/registry.css}">
</head>
<body>

<br>
<a id="signout" sec:authorize="isAuthenticated()" th:href="@{/tools-registry/logout}" th:text="#{sign.out}"></a>
<br><br><br>
<div id="auth" sec:authorize="isAuthenticated()">
<span th:text="#{auth}"></span><b><span sec:authentication="name"></span></b></div>
<br>
<div id="options" sec:authorize="isAuthenticated()">
 <a th:href="@{/tools-registry/user/instruments}" th:text="#{instruments}"></a>&nbsp;&nbsp;&nbsp;
 <a th:href="@{/tools-registry/user/additionals}" th:text="#{additionals}"></a>&nbsp;&nbsp;&nbsp;
 <a th:href="@{/tools-registry/user/tools-in-use}" th:text="#{tools.in.use}"></a>&nbsp;&nbsp;&nbsp;
 <a th:onclick="changePassword()" th:text="#{change.password}"></a>
 <input type="hidden" th:value="#{change.password.msg}" id="newPwdMsg">
 <input type="hidden" th:value="#{new.password.error}" id="newPwdError">
 <input type="hidden" th:value="#{new.password.correct}" id="newPwdCorrect"> 
</div>
<br>
<br>
<form th:action="@{/tools-registry/user/change-password}" method="post" id="changePassForm">
<input type="hidden" name="pass" id="changePass"/>
</form>

<input type="hidden" th:if="${changedPass}"  th:value="#{new.password.correct}" id="changePassMsg">

<h1>You're welcome to your user account!</h1>

</body>

<script type="text/javascript" th:src="@{/script/user-account.js}"></script>
</html>