<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/user-account">
<head>
<meta charset="UTF-8">
<title th:text="#{title}"></title>
<link rel="stylesheet" th:href="@{/css/registry.css}">
</head>
<body>

<div layout:fragment="reservations">
<h1>Előjegyzés</h1>

<table style="width: 50%">
<tr>
<th>Műszerek</th>
<th>Kiegészítők</th>
<th>Felvétel tervezett napja</th>
<th>Leadás tervezett napja</th>
<th>Előjegyzés</th>
</tr>

<tr>
<td><select class="selection_field" id="reserved-instrument">
<option>Válassz műszert</option>
<option th:each="instrument : ${instruments}" th:utext="${instrument.toolName}" th:value="${instrument.id}">
</select></td>
<td><select class="selection_field" id="reserved-additional">
<option>és/vagy kiegészítőt!</option>
<option th:each="additional : ${additionals}" th:utext="${additional.toolName}" th:value="${additional.id}">
</select></td>
<td><input type="date" th:min="${actualDate}" id="start-date"></td>
<td><input type="date" th:min="${actualDate}" id="end-date"></td>
<td><button onclick="sendData()">Előjegyzés</button></td>
</tr>
</table>

<form th:action="@{/tools-registry/user/userReservation}" method="post" id="reservation-form">
<input type="hidden" id="send-instrument" name="instrument">
<input type="hidden" id="send-additional" name="additional">
<input type="hidden" id="start-day" name="start-day">
<input type="hidden" id="end-day" name="end-day">  
</form>


<h1>Előjegyzett eszközök</h1>

<div id="empty" th:if="${#lists.isEmpty(reservations)}">Nincs megjeleníthető előjegyzés</div>

<table th:if="${not #lists.isEmpty(reservations)}" style="width: 90%">
<tr>
<th>Sorszám</th>
<th>Eszköz neve</th>
<th>Előjegyző neve</th>
<th>Felvétel időpontja</th>
<th>Leadás időpontja</th>
<th>Előjegyzés törlése</th>
</tr>

<tr th:each="reservation : ${reservations}">
<td th:utext="${reservationStat.count}" th:classappend="${reservationStat.odd} ? '' : 'colored'"></td>
<td th:utext="${reservation.toolName}" th:classappend="${reservationStat.odd} ? '' : 'colored'"></td>
<td th:utext="${reservation.userName}" th:classappend="${reservationStat.odd} ? '' : 'colored'"></td>
<td th:utext="${#temporals.format(reservation.takeAwayDate, 'yyyy-MM-dd HH:mm')}" th:classappend="${reservationStat.odd} ? '' : 'colored'"></td>
<td th:utext="${#temporals.format(reservation.bringBackDate, 'yyyy-MM-dd HH:mm')}" th:classappend="${reservationStat.odd} ? '' : 'colored'"></td>
<td th:classappend="${reservationStat.odd} ? '' : 'colored'" th:if="${reservation.userId == userId && !reservation.isActive}">
<button th:onclick="'deleteReservation(\'' + ${reservation.id} + '\');'">Törlés</button> </td>
<td th:classappend="${reservationStat.odd} ? '' : 'colored'" th:if="${reservation.userId == userId && reservation.isActive}">
<button disabled="disabled">Törlés</button> </td>
<td th:classappend="${reservationStat.odd} ? '' : 'colored'" th:if="${reservation.userId != userId}"><button disabled="disabled">Törlés</button> </td>
</tr>

</table>

<input type="hidden" th:if="${param.noTool}" id="noTool">
<input type="hidden" th:if="${param.invalidDates}" id="invalidDates">
<input type="hidden" th:if="${param.invalidReservation}" id="invalidReservation">
<script type="text/javascript" th:src="@{/script/reservation.js}"></script>
</div>


</body>

</html>