<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/user-account">
<head>
<meta charset="UTF-8">
<title th:text="#{title}"></title>
<link rel="stylesheet" th:href="@{/css/registry.css}">
</head>
<body>

<div layout:fragment="reservations">
<h1>Előjegyzés</h1>

<table style="width: 50%">
<tr>
<th>Műszerek</th>
<th>Kiegészítők</th>
<th>Felvétel tervezett napja</th>
<th>Leadás tervezett napja</th>
<th>Előjegyzés</th>
</tr>

<tr>
<td><select class="selection_field" id="reserved-instrument">
<option>-</option>
<option th:each="instrument : ${instruments}" th:utext="${instrument.toolName}" th:value="${instrument.id}">
</select></td>
<td><select class="selection_field" id="reserved-additional">
<option>-</option>
<option th:each="additional : ${additionals}" th:utext="${additional.toolName}" th:value="${additional.id}">
</select></td>
<td><input type="date" th:min="${actualDate}" id="start-date"></td>
<td><input type="date" th:min="${actualDate}" id="end-date"></td>
<td><button onclick="sendData()">Előjegyez</button></td>
</tr>
</table>

<form th:action="@{/tools-registry/user/userReservation}" method="post" id="reservation-form">
<input type="hidden" id="send-instrument" name="instrument">
<input type="hidden" id="send-additional" name="additional">
<input type="hidden" id="start-day" name="start-day">
<input type="hidden" id="end-day" name="end-day">  
</form>


<h1>Előjegyzett eszközök</h1>

<div id="empty" th:if="${#lists.isEmpty(reservations)}">Nincs megjeleníthető előjegyzett eszköz</div>

<table th:if="${not #lists.isEmpty(reservations)}" style="width: 90%">
<tr>
<th>Sorszám</th>
<th>Eszköz neve</th>
<th>Előjegyző neve</th>
<th>Felvétel időpontja</th>
<th>Leadás időpontja</th>
<th>Előjegyzés törlése</th>
</tr>
</table>

<script type="text/javascript" th:src="@{/script/reservation.js}"></script>
</div>


</body>

</html>