@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

body{
 	font-family: 'Titillium Web', sans-serif;
}

table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

th{
	background-color: white;
	border: none;
	border-collapse: collapse;
	text-align: center;
	color: black;
	height: 40px;
}	
	
table, td{
	background-color:white;
	border: none;
	border-collapse: collapse;
	text-align: center;
	color:  gray;
	height: 40px;
}



h1 {
	color: #FF7200;
	text-align: center;
}

h4{
	color: black;
	text-align: center;
}

#empty{
	text-align: center;
	color: gray;
	font-style: italic;
}

#login, .error{
	background-color: white;
	text-align: center;
	height: 300px;
	width: 300px;
	margin: auto;
	border-radius: 10px;
	border: solid 1px black;
}
#auth{
	float: right;
	color: black;
}

#langSelect, #signout{
	float: right;
	cursor: pointer;
	}
#registForm{
	background-color: white;
	text-align: center;
	height: 680px;
	width: 500px;
	text-align: center;
	border-radius: 10px;
	margin: auto;
 	border: solid 1px black;
}
#username-correct,
#username-error,
#password-info,
#password-error,
#password-correct,
#passwords-equal,
#passwords-non-equal {
	font-family: Helvetica;
	font-size: 12px;
	}
#error {
	text-align: center;
	font-family: Helvetica;
	font-size: 12px;
	color: red;
	}
#logout {
	font-family: Helvetica;
	font-size: 12px;
	color: green;
	}
hr{	
	width: 50%;
 	background-color: black;
	border-color: black;
}
.modify_field{
	width: 65px;
	height:20px;
	background-color: white;
}
 input{
	background-color: lightgray;
	height: 30px;
	border-radius: 5px;
}

input[type=button], input[type=submit]{
	width: 15em;
	cursor: pointer;
}

input[type=date]{
	background-color: lightgray;
	height: 23px;
	width: 150px;
	border-radius: 5px;
	text-align: center;
}

a {
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	color:  black;
	cursor: pointer;
}
.selection{
	width: 300px;
	height: 35px;
	cursor: pointer;
	border-radius: 5px;
	background-color: lightgray;
}
.colored{
	background-color: #fff6ea;
}

#search-field {
	float: right;
	background-color: lightgray;
	height: 20px;
	width: 120px;
	border-radius: 5px;
	text-align: center;
}
#search-selection {
	background-color: lightgray;
	height: 20px;
	width: 120px;
	border-radius: 5px;
	text-align: center;
}

button{
	width:100px;
	height:30px;
	cursor: pointer;
	border-radius: 5px;
}
	
font{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

span{
	display: inline-block;
}

#add-options{
	float: right;
}

.selection_field{
	width: 150px;
	height: 30px;
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
	text-align-last: center;
}
img{
	width: 417px;
}

#backdrop {
	position: absolute;
	width: 80%;
	max-width: 800px;
	left: -160px;
	bottom: -160px;
	z-index: -100;
	opacity: 0.1;
}
