<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="#{title}"></title>
<link rel="stylesheet" th:href="@{/css/registry.css}">
</head>

<a id="signout" sec:authorize="isAuthenticated()" th:href="@{/tools-registry/logout}" th:text="#{sign.out}"></a>
<br><br><br>
<div id="auth" sec:authorize="isAuthenticated()">
 <span th:text="#{auth}"></span><b><span sec:authentication="name"></span></b></div>
<br>
<br>
<br>
<br>
<h1 style="color:red" th:text="#{error.message}"></h1>
<h3 style="color:#BA55D3;" th:text="#{tipp.message}"></h3>

</body>
</html>